@model List<MERCADO_MVC.Models.Mercado>

<body>
    <h1>Produtos do Mercado</h1>
    <p>Total de Produtos: @ViewBag.TotalProdutos</p>

    <a asp-controller="Mercado" asp-action="Cadastro">Novo Produto</a>

    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var m in Model)
            {
                <tr>
                    <td>@m.Produto</td>
                    <td>@m.Descricao</td>
                    <td>@m.Quantidade</td>
                    <td>@m.Preco.ToString("N2")</td>
                    <td>
                        <button type="button">Excluir</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>